.shopping-widget{
		text-transform: uppercase;
		margin-bottom: 10px;
		header{
			display: flex;
			justify-content:space-between;
			padding:0 1em;
			background:$white;
			color:$red-orange;
			font-weight:300;
		}

		.shopping-widget__body{
			height: 60px;
			background:$red-orange;
			display: flex;
			justify-content:space-between;
			padding:1em;
			.shopping-widget__icon{
				background:url('resources/img/shopping-cart.png');
				background-repeat:no-repeat;
				background-size:contain;
				padding:1.5em;
			}
			.shopping-widget__info{
				margin-left:-2em;
				h4{ 
					margin:0 0.4em 0 0;
					margin-bottom: 0.4em;
					color:$white;
				}
				h6{
					margin: 0;
					color:$yellow;
				}
			}
			.shopping-widget__exit{
				padding-top:1.2em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				span{
					padding:0.5em;
					background:url('resources/img/x-yellow.png');
					background-repeat:no-repeat;
					// background-size:cover;
				}
			}
		}
		.search{
			position: relative;
			display: flex;
			overflow: hidden;
			height: 33px;
		}
		.search__input::-webkit-input-placeholder{

			color: #333333;
		}
		.search::after{
			top:1.1em;
			align-self:center;
			right:30px;
			background:url('resources/img/x.png');
			padding:0.8em 1em;
			position: absolute;
			background-repeat:no-repeat;
			content:'';
			font-stretch: 1em;
			font-size:0.7em;
			font-weight: bold;
		}
		.search__input{
			font-size:0.7em;
			min-width: 116px;
			background:#e9e9e9;
			border:none;
			text-indent:1em;
			text-transform: uppercase;
			flex-grow:1;
		}
		.search_icon::before{
			background:url('resources/img/Search-Icon.png');
			background-repeat:no-repeat;
			content: '';
			height: 13px;
			width: 12px;
			position: absolute;
			bottom:9px;
		}
		.search_icon{
			display: flex;
			justify-content: center;
			align-items:center;
			position: relative;
			padding:1em;
			background-color:#333333;
			border:none;
		}
		.buttons{
			display: flex;
			// justify-content: end;
			font-size:0.7em;
		}
		.buttons button:first-child{
			background:#ee4a02;
		}
		.buttons button:last-child{
			background:#e24602;
		}
		.buttons button{
			float: left;
			background:red;
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			border:none;
			text-transform: uppercase;
			border-radius:none!important;
			padding:1em 0;
		}
	}