.footer__menu{
	background:#373737;
	color:#fff;
	display:flex;
	padding:2em 0;
}

.footer-container{
	margin:auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	text-transform:capitalize;
	font-family:'Roboto',sans-serif;
	h4{
		margin-bottom:2em;
	}
}
.footer__headline{
	font-family:'Raleway',sans-serif;
	font-weight:700;
}
.newsletter{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	max-height:197px;
	h4{
		margin-bottom: 0;
	}		
	p{
		max-width: 200px;	
	}
	form{
		display: flex;
		input{
			text-transform: uppercase;
			border:none;
			padding:0.5em;
		}

		input[type=button]{
			background:#000;
		}
		input[type=text]{
			background: #fff51f;
		}
	}
}

.paycards{
	padding-top:1em;
	display:flex;
	justify-content:space-between;
}
.paycard{
	border:1px solid #eee;
}

.about-us{
	h4{
		margin-bottom: 1em;
	}
	max-width:237px;
	li{
		padding:2.3px 0;
		display:flex;
	}
	li span{
		text-transform: none;
		padding-left: 1em;
	}
	li:last-child span{
		color:#fff51f;
	}
}
footer{
	// height: 50px;
	background:#333;
	color:#fff;
}
.footer{
	width: 100vw;
	
}
.foot-container{
		h6{ 
			display:inline-block;
			padding-top:1em;
		}
		.social-container{
			float: right;
			padding-top:1.5em;
		i{
			font-size: 1em;
			padding:0 0.5em;
		}
	}
}
