// social
.social-container{
	display:flex;
}
.facebook{
	background:#3b5997;

}
.twitter{
	background:#3fccfd;
}
.pinterest{
	background:#cb2027
}
.social{
	font-size:4em;
	color:white;
	display:flex;
	flex:1;
	height: 150px;
	a{
		// padding: 8% 44%;
		color:white;
		margin:auto;
	}
}